<h2>Positions</h2>
<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col-3">Symbol</th>
                <th scope="col-3">Quantity</th>
                <th scope="col-3">Gain/Loss ($)</th>
            </tr>
        </thead>
        <tbody >
            <tr >
                <th scope="row">AAPL</th>
                <td>10</td>
                <td>200</td>
            </tr>
            
        </tbody>
    </table>
</div>
