/* CSS HEX
cg-blue: #0081a7ff;
timberwolf: #d9dcd6ff;
ruby-red: #931621ff;
yellow-orange-color-wheel: #f79824ff;
eerie-black: #151515ff;

/* CSS HSL */
/* cg-blue: hsla(194, 100%, 33%, 1);
timberwolf: hsla(90, 8%, 85%, 1);
ruby-red: hsla(355, 74%, 33%, 1);
yellow-orange-color-wheel: hsla(33, 93%, 55%, 1);
eerie-black: hsla(0, 0%, 8%, 1); */ 



