<h2>Positions</h2>
<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col-4">Symbol</th>
                <th scope="col-4">Quantity</th>
                <th scope="col-4">Last Month Gain/Loss ($)</th>
                <th scope="col-4">Buy/Sell</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let position of positions" (click)="onSelect(position)">
                <th scope="row">{{position.stockSymbol}}</th>
                <td>{{position.quantity}}</td>
                <td>{{null}}</td>
                <td><input type="number" id="howMuchToBuyOrSell{{ position.positionId }}"> <button id="buy{{ position.positionId }}" (click)="buy()">Buy</button> <button id="sell{{ position.positionId }}" (click)="sell()">Sell</button></td>
            </tr>
            
        </tbody>
    </table>
</div>

<app-position-detail [position]="selectedPosition"></app-position-detail>