
<ng-template [ngIf]="!this.appComponent.user.portfolio" [ngIfElse]="hasGame">

    <div>
        Welcome To "To The Moon: A game of historic investing" please enter in the stock you would like. Duplicates will be deleted.
        <br>

        <div *ngFor="let number of [1,2,3,4,5,6]">
            Stock {{number}} <select id="stock{{number}}">
                <option>Select Stock</option>
                <option *ngFor="let stock of this.stocks">{{stock.stockSymbol}}</option>
            </select>
        </div>
        <br>
        <button (click)="createPortoflio()" class="btn btn-primary">Submit</button>
    </div>
</ng-template>
<ng-template #hasGame>
    <div class="jumbotron text-center text-secondary"><h1>Welcome {{userToDisplay.username}}</h1></div>
    <div class="container text-center">
        <div class="row">

            <div class="col-md-12">
                <!-- <button (click)=populateTable()>do it</button> -->
            <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              [title]="title">
            </canvas>
            </div>
        </div>
    <div class="row">
        <div class="col-md-4 "><p class="text-center">Cash remaining: {{this.cashRemaining}}</p></div>
        <div class="col-md-4 "><p class="text-center">Stock Value Holding: {{this.stockValue}}</p></div>
        <div class="col-md-4 "><p class="text-center">Total Value: {{this.totalValue}}</p></div>
    </div>
    </div>

    
    <div class="container"><app-positions></app-positions></div>

</ng-template>