
<ng-template [ngIf]="!this.appComponent.user.portfolio" [ngIfElse]="hasGame">

    <div>
        Welcome To "To The Moon: A game of historic investing" please enter in the stock you would like. Duplicates will be deleted.
        <br>

        <div *ngFor="let number of [1,2,3,4,5,6]">
            Stock {{number}} <select id="stock{{number}}">
                <option>Select Stock</option>
                <option *ngFor="let stock of this.stocks">{{stock.stockSymbol}}</option>
            </select>
        </div>
        <br>
        <button (click)="createPortoflio()" class="btn btn-primary">Submit</button>
    </div>
</ng-template>
<ng-template #hasGame>
    <span>Welcom {{userToDisplay.username}}</span>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-2">
                <table>
                    <ul>
                        <li>Test</li>
                    </ul>
                </table>
            </div>
            <div class="col-md-10">
                <!-- <button (click)=populateTable()>do it</button> -->
            <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
            </canvas>
            </div>
        </div>
    </div>
    <app-positions></app-positions>

</ng-template>